In [3]:
import pandas as pd
y = pd.Period('2019')
y

Period('2019', 'A-DEC')

In [5]:
y.start_time

Timestamp('2019-01-01 00:00:00')

In [6]:
y.end_time

Timestamp('2019-12-31 23:59:59.999999999')

In [8]:
m =pd.Period('2019-1', freq='M')
m

Period('2019-01', 'M')

In [13]:
q = pd.Period('2019Q1', freq='Q-SEP')
q

Period('2019Q1', 'Q-SEP')

In [14]:
q.start_time

Timestamp('2018-10-01 00:00:00')

In [16]:
q.end_time

Timestamp('2018-12-31 23:59:59.999999999')

In [18]:
q.asfreq('M', how='start')

Period('2018-10', 'M')

In [19]:
q.asfreq('M', how='end')

Period('2018-12', 'M')

In [24]:
q2 = pd.Period('2020Q4', freq='Q-SEP')
q2-q

In [31]:
idx = pd.period_range('2013',periods=10,freq='Q-SEP')
idx

PeriodIndex(['2013Q2', '2013Q3', '2013Q4', '2014Q1', '2014Q2', '2014Q3',
             '2014Q4', '2015Q1', '2015Q2', '2015Q3'],
            dtype='period[Q-SEP]', freq='Q-SEP')

In [32]:
import numpy as np
ps = pd.Series(np.random.rand(len(idx)), idx)
ps

2013Q2    0.202621
2013Q3    0.248750
2013Q4    0.518761
2014Q1    0.446131
2014Q2    0.760847
2014Q3    0.072699
2014Q4    0.074516
2015Q1    0.320281
2015Q2    0.984630
2015Q3    0.950215
Freq: Q-SEP, dtype: float64

In [33]:
ps.index

PeriodIndex(['2013Q2', '2013Q3', '2013Q4', '2014Q1', '2014Q2', '2014Q3',
             '2014Q4', '2015Q1', '2015Q2', '2015Q3'],
            dtype='period[Q-SEP]', freq='Q-SEP')

In [39]:
import pandas as pd
wmt = pd.read_csv(r"C:\Users\pattargv\Downloads\WMT.csv")
wmt

   LineItem  2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
0   Revenue  115904  120854  118179  130936  117542
1  Expenses   86544   89485   87484   97743   87688
2    Profit   29360   31369   30695   33193   29854

In [40]:
wmt.set_index('LineItem', inplace=True)
wmt

          2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
LineItem
Revenue   115904  120854  118179  130936  117542
Expenses   86544   89485   87484   97743   87688
Profit     29360   31369   30695   33193   29854

In [53]:
wmt = wmt.T
wmt

LineItem  Revenue  Expenses  Profit
2017Q1     115904     86544   29360
2017Q2     120854     89485   31369
2017Q3     118179     87484   30695
2017Q4     130936     97743   33193
2018Q1     117542     87688   29854

In [1]:
wmt.index = pd.PeriodIndex(wmt.index, freq="Q-JAN")
wmt.index

NameError: name 'pd' is not defined

In [56]:
wmt['Start Date'] = wmt.index.map(lambda x: x.start_time)
wmt

LineItem  Revenue  Expenses  Profit Start Date
2017Q1     115904     86544   29360 2016-02-01
2017Q2     120854     89485   31369 2016-05-01
2017Q3     118179     87484   30695 2016-08-01
2017Q4     130936     97743   33193 2016-11-01
2018Q1     117542     87688   29854 2017-02-01

In [57]:
wmt['End Date'] = wmt.index.map(lambda x: x.end_time)
wmt

LineItem  Revenue  Expenses  Profit Start Date                      End Date
2017Q1     115904     86544   29360 2016-02-01 2016-04-30 23:59:59.999999999
2017Q2     120854     89485   31369 2016-05-01 2016-07-31 23:59:59.999999999
2017Q3     118179     87484   30695 2016-08-01 2016-10-31 23:59:59.999999999
2017Q4     130936     97743   33193 2016-11-01 2017-01-31 23:59:59.999999999
2018Q1     117542     87688   29854 2017-02-01 2017-04-30 23:59:59.999999999

In [76]:
msft = pd.read_csv(r"C:\Users\pattargv\Downloads\MSFT.csv", parse_dates=True, index_col="Date Time")
#msft.set_index("Date Time")
msft.index

DatetimeIndex(['2017-08-17 09:00:00', '2017-08-17 09:15:00',
               '2017-08-17 09:30:00', '2017-08-17 10:00:00',
               '2017-08-17 10:30:00', '2017-08-17 11:00:00'],
              dtype='datetime64[ns]', name='Date Time', freq=None)

In [80]:
msft = msft.tz_localize(tz='US/Eastern')

TypeError: Already tz-aware, use tz_convert to convert.

In [81]:
msft.index

DatetimeIndex(['2017-08-17 09:00:00-04:00', '2017-08-17 09:15:00-04:00',
               '2017-08-17 09:30:00-04:00', '2017-08-17 10:00:00-04:00',
               '2017-08-17 10:30:00-04:00', '2017-08-17 11:00:00-04:00'],
              dtype='datetime64[ns, US/Eastern]', name='Date Time', freq=None)

In [83]:
msft = msft.tz_convert(tz='Europe/Berlin')
msft

                           Price
Date Time
2017-08-17 15:00:00+02:00  72.38
2017-08-17 15:15:00+02:00  71.00
2017-08-17 15:30:00+02:00  71.67
2017-08-17 16:00:00+02:00  72.80
2017-08-17 16:30:00+02:00  73.00
2017-08-17 17:00:00+02:00  72.50

In [84]:
from pytz import all_timezones
all_timezones

['Africa/Abidjan',
 'Africa/Accra',
 'Africa/Addis_Ababa',
 'Africa/Algiers',
 'Africa/Asmara',
 'Africa/Asmera',
 'Africa/Bamako',
 'Africa/Bangui',
 'Africa/Banjul',
 'Africa/Bissau',
 'Africa/Blantyre',
 'Africa/Brazzaville',
 'Africa/Bujumbura',
 'Africa/Cairo',
 'Africa/Casablanca',
 'Africa/Ceuta',
 'Africa/Conakry',
 'Africa/Dakar',
 'Africa/Dar_es_Salaam',
 'Africa/Djibouti',
 'Africa/Douala',
 'Africa/El_Aaiun',
 'Africa/Freetown',
 'Africa/Gaborone',
 'Africa/Harare',
 'Africa/Johannesburg',
 'Africa/Juba',
 'Africa/Kampala',
 'Africa/Khartoum',
 'Africa/Kigali',
 'Africa/Kinshasa',
 'Africa/Lagos',
 'Africa/Libreville',
 'Africa/Lome',
 'Africa/Luanda',
 'Africa/Lubumbashi',
 'Africa/Lusaka',
 'Africa/Malabo',
 'Africa/Maputo',
 'Africa/Maseru',
 'Africa/Mbabane',
 'Africa/Mogadishu',
 'Africa/Monrovia',
 'Africa/Nairobi',
 'Africa/Ndjamena',
 'Africa/Niamey',
 'Africa/Nouakchott',
 'Africa/Ouagadougou',
 'Africa/Porto-Novo',
 'Africa/Sao_Tome',
 'Africa/Timbuktu',
 'Africa/Tripoli',
 'Africa/Tunis',
 'Africa/Windhoek',
 'America/Adak',
 'America/Anchorage',
 'America/Anguilla',
 'America/Antigua',
 'America/Araguaina',
 'America/Argentina/Buenos_Aires',
 'America/Argentina/Catamarca',
 'America/Argentina/ComodRivadavia',
 'America/Argentina/Cordoba',
 'America/Argentina/Jujuy',
 'America/Argentina/La_Rioja',
 'America/Argentina/Mendoza',
 'America/Argentina/Rio_Gallegos',
 'America/Argentina/Salta',
 'America/Argentina/San_Juan',
 'America/Argentina/San_Luis',
 'America/Argentina/Tucuman',
 'America/Argentina/Ushuaia',
 'America/Aruba',
 'America/Asuncion',
 'America/Atikokan',
 'America/Atka',
 'America/Bahia',
 'America/Bahia_Banderas',
 'America/Barbados',
 'America/Belem',
 'America/Belize',
 'America/Blanc-Sablon',
 'America/Boa_Vista',
 'America/Bogota',
 'America/Boise',
 'America/Buenos_Aires',
 'America/Cambridge_Bay',
 'America/Campo_Grande',
 'America/Cancun',
 'America/Caracas',
 'America/Catamarca',
 'America/Cayenne',
 'America/Cayman',
 'America/Chicago',
 'America/Chihuahua',
 'America/Coral_Harbour',
 'America/Cordoba',
 'America/Costa_Rica',
 'America/Creston',
 'America/Cuiaba',
 'America/Curacao',
 'America/Danmarkshavn',
 'America/Dawson',
 'America/Dawson_Creek',
 'America/Denver',
 'America/Detroit',
 'America/Dominica',
 'America/Edmonton',
 'America/Eirunepe',
 'America/El_Salvador',
 'America/Ensenada',
 'America/Fort_Nelson',
 'America/Fort_Wayne',
 'America/Fortaleza',
 'America/Glace_Bay',
 'America/Godthab',
 'America/Goose_Bay',
 'America/Grand_Turk',
 'America/Grenada',
 'America/Guadeloupe',
 'America/Guatemala',
 'America/Guayaquil',
 'America/Guyana',
 'America/Halifax',
 'America/Havana',
 'America/Hermosillo',
 'America/Indiana/Indianapolis',
 'America/Indiana/Knox',
 'America/Indiana/Marengo',
 'America/Indiana/Petersburg',
 'America/Indiana/Tell_City',
 'America/Indiana/Vevay',
 'America/Indiana/Vincennes',
 'America/Indiana/Winamac',
 'America/Indianapolis',
 'America/Inuvik',
 'America/Iqaluit',
 'America/Jamaica',
 'America/Jujuy',
 'America/Juneau',
 'America/Kentucky/Louisville',
 'America/Kentucky/Monticello',
 'America/Knox_IN',
 'America/Kralendijk',
 'America/La_Paz',
 'America/Lima',
 'America/Los_Angeles',
 'America/Louisville',
 'America/Lower_Princes',
 'America/Maceio',
 'America/Managua',
 'America/Manaus',
 'America/Marigot',
 'America/Martinique',
 'America/Matamoros',
 'America/Mazatlan',
 'America/Mendoza',
 'America/Menominee',
 'America/Merida',
 'America/Metlakatla',
 'America/Mexico_City',
 'America/Miquelon',
 'America/Moncton',
 'America/Monterrey',
 'America/Montevideo',
 'America/Montreal',
 'America/Montserrat',
 'America/Nassau',
 'America/New_York',
 'America/Nipigon',
 'America/Nome',
 'America/Noronha',
 'America/North_Dakota/Beulah',
 'America/North_Dakota/Center',
 'America/North_Dakota/New_Salem',
 'America/Ojinaga',
 'America/Panama',
 'America/Pangnirtung',
 'America/Paramaribo',
 'America/Phoenix',
 'America/Port-au-Prince',
 'America/Port_of_Spain',
 'America/Porto_Acre',
 'America/Porto_Velho',
 'America/Puerto_Rico',
 'America/Punta_Arenas',
 'America/Rainy_River',
 'America/Rankin_Inlet',
 'America/Recife',
 'America/Regina',
 'America/Resolute',
 'America/Rio_Branco',
 'America/Rosario',
 'America/Santa_Isabel',
 'America/Santarem',
 'America/Santiago',
 'America/Santo_Domingo',
 'America/Sao_Paulo',
 'America/Scoresbysund',
 'America/Shiprock',
 'America/Sitka',
 'America/St_Barthelemy',
 'America/St_Johns',
 'America/St_Kitts',
 'America/St_Lucia',
 'America/St_Thomas',
 'America/St_Vincent',
 'America/Swift_Current',
 'America/Tegucigalpa',
 'America/Thule',
 'America/Thunder_Bay',
 'America/Tijuana',
 'America/Toronto',
 'America/Tortola',
 'America/Vancouver',
 'America/Virgin',
 'America/Whitehorse',
 'America/Winnipeg',
 'America/Yakutat',
 'America/Yellowknife',
 'Antarctica/Casey',
 'Antarctica/Davis',
 'Antarctica/DumontDUrville',
 'Antarctica/Macquarie',
 'Antarctica/Mawson',
 'Antarctica/McMurdo',
 'Antarctica/Palmer',
 'Antarctica/Rothera',
 'Antarctica/South_Pole',
 'Antarctica/Syowa',
 'Antarctica/Troll',
 'Antarctica/Vostok',
 'Arctic/Longyearbyen',
 'Asia/Aden',
 'Asia/Almaty',
 'Asia/Amman',
 'Asia/Anadyr',
 'Asia/Aqtau',
 'Asia/Aqtobe',
 'Asia/Ashgabat',
 'Asia/Ashkhabad',
 'Asia/Atyrau',
 'Asia/Baghdad',
 'Asia/Bahrain',
 'Asia/Baku',
 'Asia/Bangkok',
 'Asia/Barnaul',
 'Asia/Beirut',
 'Asia/Bishkek',
 'Asia/Brunei',
 'Asia/Calcutta',
 'Asia/Chita',
 'Asia/Choibalsan',
 'Asia/Chongqing',
 'Asia/Chungking',
 'Asia/Colombo',
 'Asia/Dacca',
 'Asia/Damascus',
 'Asia/Dhaka',
 'Asia/Dili',
 'Asia/Dubai',
 'Asia/Dushanbe',
 'Asia/Famagusta',
 'Asia/Gaza',
 'Asia/Harbin',
 'Asia/Hebron',
 'Asia/Ho_Chi_Minh',
 'Asia/Hong_Kong',
 'Asia/Hovd',
 'Asia/Irkutsk',
 'Asia/Istanbul',
 'Asia/Jakarta',
 'Asia/Jayapura',
 'Asia/Jerusalem',
 'Asia/Kabul',
 'Asia/Kamchatka',
 'Asia/Karachi',
 'Asia/Kashgar',
 'Asia/Kathmandu',
 'Asia/Katmandu',
 'Asia/Khandyga',
 'Asia/Kolkata',
 'Asia/Krasnoyarsk',
 'Asia/Kuala_Lumpur',
 'Asia/Kuching',
 'Asia/Kuwait',
 'Asia/Macao',
 'Asia/Macau',
 'Asia/Magadan',
 'Asia/Makassar',
 'Asia/Manila',
 'Asia/Muscat',
 'Asia/Nicosia',
 'Asia/Novokuznetsk',
 'Asia/Novosibirsk',
 'Asia/Omsk',
 'Asia/Oral',
 'Asia/Phnom_Penh',
 'Asia/Pontianak',
 'Asia/Pyongyang',
 'Asia/Qatar',
 'Asia/Qostanay',
 'Asia/Qyzylorda',
 'Asia/Rangoon',
 'Asia/Riyadh',
 'Asia/Saigon',
 'Asia/Sakhalin',
 'Asia/Samarkand',
 'Asia/Seoul',
 'Asia/Shanghai',
 'Asia/Singapore',
 'Asia/Srednekolymsk',
 'Asia/Taipei',
 'Asia/Tashkent',
 'Asia/Tbilisi',
 'Asia/Tehran',
 'Asia/Tel_Aviv',
 'Asia/Thimbu',
 'Asia/Thimphu',
 'Asia/Tokyo',
 'Asia/Tomsk',
 'Asia/Ujung_Pandang',
 'Asia/Ulaanbaatar',
 'Asia/Ulan_Bator',
 'Asia/Urumqi',
 'Asia/Ust-Nera',
 'Asia/Vientiane',
 'Asia/Vladivostok',
 'Asia/Yakutsk',
 'Asia/Yangon',
 'Asia/Yekaterinburg',
 'Asia/Yerevan',
 'Atlantic/Azores',
 'Atlantic/Bermuda',
 'Atlantic/Canary',
 'Atlantic/Cape_Verde',
 'Atlantic/Faeroe',
 'Atlantic/Faroe',
 'Atlantic/Jan_Mayen',
 'Atlantic/Madeira',
 'Atlantic/Reykjavik',
 'Atlantic/South_Georgia',
 'Atlantic/St_Helena',
 'Atlantic/Stanley',
 'Australia/ACT',
 'Australia/Adelaide',
 'Australia/Brisbane',
 'Australia/Broken_Hill',
 'Australia/Canberra',
 'Australia/Currie',
 'Australia/Darwin',
 'Australia/Eucla',
 'Australia/Hobart',
 'Australia/LHI',
 'Australia/Lindeman',
 'Australia/Lord_Howe',
 'Australia/Melbourne',
 'Australia/NSW',
 'Australia/North',
 'Australia/Perth',
 'Australia/Queensland',
 'Australia/South',
 'Australia/Sydney',
 'Australia/Tasmania',
 'Australia/Victoria',
 'Australia/West',
 'Australia/Yancowinna',
 'Brazil/Acre',
 'Brazil/DeNoronha',
 'Brazil/East',
 'Brazil/West',
 'CET',
 'CST6CDT',
 'Canada/Atlantic',
 'Canada/Central',
 'Canada/Eastern',
 'Canada/Mountain',
 'Canada/Newfoundland',
 'Canada/Pacific',
 'Canada/Saskatchewan',
 'Canada/Yukon',
 'Chile/Continental',
 'Chile/EasterIsland',
 'Cuba',
 'EET',
 'EST',
 'EST5EDT',
 'Egypt',
 'Eire',
 'Etc/GMT',
 'Etc/GMT+0',
 'Etc/GMT+1',
 'Etc/GMT+10',
 'Etc/GMT+11',
 'Etc/GMT+12',
 'Etc/GMT+2',
 'Etc/GMT+3',
 'Etc/GMT+4',
 'Etc/GMT+5',
 'Etc/GMT+6',
 'Etc/GMT+7',
 'Etc/GMT+8',
 'Etc/GMT+9',
 'Etc/GMT-0',
 'Etc/GMT-1',
 'Etc/GMT-10',
 'Etc/GMT-11',
 'Etc/GMT-12',
 'Etc/GMT-13',
 'Etc/GMT-14',
 'Etc/GMT-2',
 'Etc/GMT-3',
 'Etc/GMT-4',
 'Etc/GMT-5',
 'Etc/GMT-6',
 'Etc/GMT-7',
 'Etc/GMT-8',
 'Etc/GMT-9',
 'Etc/GMT0',
 'Etc/Greenwich',
 'Etc/UCT',
 'Etc/UTC',
 'Etc/Universal',
 'Etc/Zulu',
 'Europe/Amsterdam',
 'Europe/Andorra',
 'Europe/Astrakhan',
 'Europe/Athens',
 'Europe/Belfast',
 'Europe/Belgrade',
 'Europe/Berlin',
 'Europe/Bratislava',
 'Europe/Brussels',
 'Europe/Bucharest',
 'Europe/Budapest',
 'Europe/Busingen',
 'Europe/Chisinau',
 'Europe/Copenhagen',
 'Europe/Dublin',
 'Europe/Gibraltar',
 'Europe/Guernsey',
 'Europe/Helsinki',
 'Europe/Isle_of_Man',
 'Europe/Istanbul',
 'Europe/Jersey',
 'Europe/Kaliningrad',
 'Europe/Kiev',
 'Europe/Kirov',
 'Europe/Lisbon',
 'Europe/Ljubljana',
 'Europe/London',
 'Europe/Luxembourg',
 'Europe/Madrid',
 'Europe/Malta',
 'Europe/Mariehamn',
 'Europe/Minsk',
 'Europe/Monaco',
 'Europe/Moscow',
 'Europe/Nicosia',
 'Europe/Oslo',
 'Europe/Paris',
 'Europe/Podgorica',
 'Europe/Prague',
 'Europe/Riga',
 'Europe/Rome',
 'Europe/Samara',
 'Europe/San_Marino',
 'Europe/Sarajevo',
 'Europe/Saratov',
 'Europe/Simferopol',
 'Europe/Skopje',
 'Europe/Sofia',
 'Europe/Stockholm',
 'Europe/Tallinn',
 'Europe/Tirane',
 'Europe/Tiraspol',
 'Europe/Ulyanovsk',
 'Europe/Uzhgorod',
 'Europe/Vaduz',
 'Europe/Vatican',
 'Europe/Vienna',
 'Europe/Vilnius',
 'Europe/Volgograd',
 'Europe/Warsaw',
 'Europe/Zagreb',
 'Europe/Zaporozhye',
 'Europe/Zurich',
 'GB',
 'GB-Eire',
 'GMT',
 'GMT+0',
 'GMT-0',
 'GMT0',
 'Greenwich',
 'HST',
 'Hongkong',
 'Iceland',
 'Indian/Antananarivo',
 'Indian/Chagos',
 'Indian/Christmas',
 'Indian/Cocos',
 'Indian/Comoro',
 'Indian/Kerguelen',
 'Indian/Mahe',
 'Indian/Maldives',
 'Indian/Mauritius',
 'Indian/Mayotte',
 'Indian/Reunion',
 'Iran',
 'Israel',
 'Jamaica',
 'Japan',
 'Kwajalein',
 'Libya',
 'MET',
 'MST',
 'MST7MDT',
 'Mexico/BajaNorte',
 'Mexico/BajaSur',
 'Mexico/General',
 'NZ',
 'NZ-CHAT',
 'Navajo',
 'PRC',
 'PST8PDT',
 'Pacific/Apia',
 'Pacific/Auckland',
 'Pacific/Bougainville',
 'Pacific/Chatham',
 'Pacific/Chuuk',
 'Pacific/Easter',
 'Pacific/Efate',
 'Pacific/Enderbury',
 'Pacific/Fakaofo',
 'Pacific/Fiji',
 'Pacific/Funafuti',
 'Pacific/Galapagos',
 'Pacific/Gambier',
 'Pacific/Guadalcanal',
 'Pacific/Guam',
 'Pacific/Honolulu',
 'Pacific/Johnston',
 'Pacific/Kiritimati',
 'Pacific/Kosrae',
 'Pacific/Kwajalein',
 'Pacific/Majuro',
 'Pacific/Marquesas',
 'Pacific/Midway',
 'Pacific/Nauru',
 'Pacific/Niue',
 'Pacific/Norfolk',
 'Pacific/Noumea',
 'Pacific/Pago_Pago',
 'Pacific/Palau',
 'Pacific/Pitcairn',
 'Pacific/Pohnpei',
 'Pacific/Ponape',
 'Pacific/Port_Moresby',
 'Pacific/Rarotonga',
 'Pacific/Saipan',
 'Pacific/Samoa',
 'Pacific/Tahiti',
 'Pacific/Tarawa',
 'Pacific/Tongatapu',
 'Pacific/Truk',
 'Pacific/Wake',
 'Pacific/Wallis',
 'Pacific/Yap',
 'Poland',
 'Portugal',
 'ROC',
 'ROK',
 'Singapore',
 'Turkey',
 'UCT',
 'US/Alaska',
 'US/Aleutian',
 'US/Arizona',
 'US/Central',
 'US/East-Indiana',
 'US/Eastern',
 'US/Hawaii',
 'US/Indiana-Starke',
 'US/Michigan',
 'US/Mountain',
 'US/Pacific',
 'US/Samoa',
 'UTC',
 'Universal',
 'W-SU',
 'WET',
 'Zulu']

In [85]:
msft = msft.tz_convert(tz='Asia/Kolkata')
msft.index

DatetimeIndex(['2017-08-17 18:30:00+05:30', '2017-08-17 18:45:00+05:30',
               '2017-08-17 19:00:00+05:30', '2017-08-17 19:30:00+05:30',
               '2017-08-17 20:00:00+05:30', '2017-08-17 20:30:00+05:30'],
              dtype='datetime64[ns, Asia/Kolkata]', name='Date Time', freq=None)

In [87]:
rng = pd.date_range(start="1/1/2019", periods=10, freq='H', tz='dateutil/Europe/Berlin')
rng

DatetimeIndex(['2019-01-01 00:00:00+01:00', '2019-01-01 01:00:00+01:00',
               '2019-01-01 02:00:00+01:00', '2019-01-01 03:00:00+01:00',
               '2019-01-01 04:00:00+01:00', '2019-01-01 05:00:00+01:00',
               '2019-01-01 06:00:00+01:00', '2019-01-01 07:00:00+01:00',
               '2019-01-01 08:00:00+01:00', '2019-01-01 09:00:00+01:00'],
              dtype='datetime64[ns, tzfile('Europe/Berlin')]', freq='H')

In [90]:
rng = pd.date_range(start="1/1/2019 09:00:00", periods=10, freq='30min')
s = pd.Series(range(10), index=rng)
s

2019-01-01 09:00:00    0
2019-01-01 09:30:00    1
2019-01-01 10:00:00    2
2019-01-01 10:30:00    3
2019-01-01 11:00:00    4
2019-01-01 11:30:00    5
2019-01-01 12:00:00    6
2019-01-01 12:30:00    7
2019-01-01 13:00:00    8
2019-01-01 13:30:00    9
Freq: 30T, dtype: int64

In [98]:
b = s.tz_localize(tz='Europe/Berlin')
b

2019-01-01 09:00:00+01:00    0
2019-01-01 09:30:00+01:00    1
2019-01-01 10:00:00+01:00    2
2019-01-01 10:30:00+01:00    3
2019-01-01 11:00:00+01:00    4
2019-01-01 11:30:00+01:00    5
2019-01-01 12:00:00+01:00    6
2019-01-01 12:30:00+01:00    7
2019-01-01 13:00:00+01:00    8
2019-01-01 13:30:00+01:00    9
Freq: 30T, dtype: int64

In [99]:
m = s.tz_localize(tz='Asia/Kolkata')
m

2019-01-01 09:00:00+05:30    0
2019-01-01 09:30:00+05:30    1
2019-01-01 10:00:00+05:30    2
2019-01-01 10:30:00+05:30    3
2019-01-01 11:00:00+05:30    4
2019-01-01 11:30:00+05:30    5
2019-01-01 12:00:00+05:30    6
2019-01-01 12:30:00+05:30    7
2019-01-01 13:00:00+05:30    8
2019-01-01 13:30:00+05:30    9
Freq: 30T, dtype: int64

In [100]:
b + m

2019-01-01 03:30:00+00:00    NaN
2019-01-01 04:00:00+00:00    NaN
2019-01-01 04:30:00+00:00    NaN
2019-01-01 05:00:00+00:00    NaN
2019-01-01 05:30:00+00:00    NaN
2019-01-01 06:00:00+00:00    NaN
2019-01-01 06:30:00+00:00    NaN
2019-01-01 07:00:00+00:00    NaN
2019-01-01 07:30:00+00:00    NaN
2019-01-01 08:00:00+00:00    9.0
2019-01-01 08:30:00+00:00    NaN
2019-01-01 09:00:00+00:00    NaN
2019-01-01 09:30:00+00:00    NaN
2019-01-01 10:00:00+00:00    NaN
2019-01-01 10:30:00+00:00    NaN
2019-01-01 11:00:00+00:00    NaN
2019-01-01 11:30:00+00:00    NaN
2019-01-01 12:00:00+00:00    NaN
2019-01-01 12:30:00+00:00    NaN
Freq: 30T, dtype: float64

In [101]:
pd.Series(pd.period_range('1/1/2011', freq='M', periods=3))

0    2011-01
1    2011-02
2    2011-03
dtype: period[M]

In [102]:
pd.Series([pd.DateOffset(1), pd.DateOffset(2)])

0         <DateOffset>
1    <2 * DateOffsets>
dtype: object

In [103]:
pd.Series(pd.date_range('1/1/2011', freq='M', periods=3))

0   2011-01-31
1   2011-02-28
2   2011-03-31
dtype: datetime64[ns]

In [105]:
pd.Series(pd.period_range('1/1/2011', freq='M', periods=3))

0    2011-01
1    2011-02
2    2011-03
dtype: period[M]

In [106]:
pd.Timestamp(pd.NaT)

NaT

In [108]:
pd.Timedelta(pd.NaT)

NaT

In [109]:
pd.Period(pd.NaT)

NaT

In [110]:
pd.NaT == pd.NaT

False

In [111]:
pd.Period('2011-01')

Period('2011-01', 'M')

In [112]:
pd.Period('2011-01', freq='D')

Period('2011-01-01', 'D')

In [113]:
df = pd.DataFrame({'year': [2015, 2016],
   ....:                    'month': [2, 3],
   ....:                    'day': [4, 5],
   ....:                    'hour': [2, 3]})
   ....:

In [114]:
pd.to_datetime(df)

0   2015-02-04 02:00:00
1   2016-03-05 03:00:00
dtype: datetime64[ns]

In [118]:
pd.to_datetime(df[['year','month','day']])

0   2015-02-04
1   2016-03-05
dtype: datetime64[ns]

In [119]:
pd.to_datetime(df[['year','day','month']])

0   2015-02-04
1   2016-03-05
dtype: datetime64[ns]

In [121]:
stamps = pd.date_range('2012-10-08 18:15:05', periods=4, freq='D')
stamps

DatetimeIndex(['2012-10-08 18:15:05', '2012-10-09 18:15:05',
               '2012-10-10 18:15:05', '2012-10-11 18:15:05'],
              dtype='datetime64[ns]', freq='D')

In [122]:
(stamps - pd.Timestamp("1970-01-01")) // pd.Timedelta('1s')

Int64Index([1349720105, 1349806505, 1349892905, 1349979305], dtype='int64')

In [124]:
t1 = pd.to_datetime('1/1/2015 01:00')
t2 = pd.to_datetime('1/1/2015 03:30')

pd.Timedelta(t2 - t1).seconds / 3600.0

2.5

In [126]:
pd.Timedelta(t2 - t1).seconds / 60.0

150.0

In [129]:
pd.Timedelta(t2 - t1).total_seconds()/ (60 * 60)

2.5

In [130]:
data1 = pd.Series(pd.date_range('1/1/2011', freq='D', periods=3))
data1

0   2011-01-01
1   2011-01-02
2   2011-01-03
dtype: datetime64[ns]

In [131]:
data2 = pd.Series(pd.date_range('1/1/2012', freq='D', periods=3))
data2

0   2012-01-01
1   2012-01-02
2   2012-01-03
dtype: datetime64[ns]

In [132]:
combined_data = data1.combine_first(data2)
combined_data

0   2011-01-01
1   2011-01-02
2   2011-01-03
dtype: datetime64[ns]

In [147]:
import numpy as np
series1 = pd.Series([70, 5, 0, 225, 1, 16, np.nan, 10, np.nan])

series2 = pd.Series([27, np.nan, 2, 23, 1, 95, 53, 10, 5])

In [144]:
#series1.name('Numbers')
series1

0     70.0
1      5.0
2      0.0
3    225.0
4      1.0
5     16.0
6      NaN
7     10.0
8      NaN
dtype: float64

In [150]:
s = series2.le(series1, fill_value='1000')
s

0     True
1    False
2    False
3     True
4     True
5    False
6     True
7     True
8     True
dtype: bool

In [152]:
td = pd.Series([ pd.Timedelta(days=i) for i in range(3) ])
td

0   0 days
1   1 days
2   2 days
dtype: timedelta64[ns]

In [154]:
df = pd.read_csv(r"C:\Users\pattargv\Downloads\facebook.csv", parse_dates=['Date'], index_col='Date')
df

             Price
Date
2017-08-15  171.00
2017-08-16  170.00
2017-08-17  166.91
2017-08-18  167.41
2017-08-21  167.78
2017-08-22  169.64
2017-08-23  168.71
2017-08-24  167.74
2017-08-25  166.32
2017-08-28  167.24

In [155]:
df.shift(1)

             Price
Date
2017-08-15     NaN
2017-08-16  171.00
2017-08-17  170.00
2017-08-18  166.91
2017-08-21  167.41
2017-08-22  167.78
2017-08-23  169.64
2017-08-24  168.71
2017-08-25  167.74
2017-08-28  166.32

In [156]:
df.shift(-1)

             Price
Date
2017-08-15  170.00
2017-08-16  166.91
2017-08-17  167.41
2017-08-18  167.78
2017-08-21  169.64
2017-08-22  168.71
2017-08-23  167.74
2017-08-24  166.32
2017-08-25  167.24
2017-08-28     NaN

In [157]:
df['Previous Day Price'] = df['Price'].shift(1)
df

             Price  Previous Day Price
Date
2017-08-15  171.00                 NaN
2017-08-16  170.00              171.00
2017-08-17  166.91              170.00
2017-08-18  167.41              166.91
2017-08-21  167.78              167.41
2017-08-22  169.64              167.78
2017-08-23  168.71              169.64
2017-08-24  167.74              168.71
2017-08-25  166.32              167.74
2017-08-28  167.24              166.32

In [158]:
df['Price Change'] = df['Price'] - df['Previous Day Price']
df

             Price  Previous Day Price  Price Change
Date
2017-08-15  171.00                 NaN           NaN
2017-08-16  170.00              171.00         -1.00
2017-08-17  166.91              170.00         -3.09
2017-08-18  167.41              166.91          0.50
2017-08-21  167.78              167.41          0.37
2017-08-22  169.64              167.78          1.86
2017-08-23  168.71              169.64         -0.93
2017-08-24  167.74              168.71         -0.97
2017-08-25  166.32              167.74         -1.42
2017-08-28  167.24              166.32          0.92

In [161]:
df = df[['Previous Day Price', 'Price', 'Price Change']]
df

            Previous Day Price   Price  Price Change
Date
2017-08-15                 NaN  171.00           NaN
2017-08-16              171.00  170.00         -1.00
2017-08-17              170.00  166.91         -3.09
2017-08-18              166.91  167.41          0.50
2017-08-21              167.41  167.78          0.37
2017-08-22              167.78  169.64          1.86
2017-08-23              169.64  168.71         -0.93
2017-08-24              168.71  167.74         -0.97
2017-08-25              167.74  166.32         -1.42
2017-08-28              166.32  167.24          0.92

In [164]:
df = df[['Price']]
df

KeyError: "None of [Index(['Price'], dtype='object', name='Date')] are in the [index]"

In [165]:
df = pd.read_csv(r"C:\Users\pattargv\Downloads\facebook.csv", parse_dates=['Date'], index_col='Date')
df

             Price
Date
2017-08-15  171.00
2017-08-16  170.00
2017-08-17  166.91
2017-08-18  167.41
2017-08-21  167.78
2017-08-22  169.64
2017-08-23  168.71
2017-08-24  167.74
2017-08-25  166.32
2017-08-28  167.24

In [166]:
df.index

DatetimeIndex(['2017-08-15', '2017-08-16', '2017-08-17', '2017-08-18',
               '2017-08-21', '2017-08-22', '2017-08-23', '2017-08-24',
               '2017-08-25', '2017-08-28'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [175]:
df.index = pd.date_range(start="2017-08-15", periods=10, freq='B')

DatetimeIndex(['2017-08-15', '2017-08-16', '2017-08-17', '2017-08-18',
               '2017-08-21', '2017-08-22', '2017-08-23', '2017-08-24',
               '2017-08-25', '2017-08-28'],
              dtype='datetime64[ns]', freq='B')

In [176]:
df

DatetimeIndex(['2017-08-15', '2017-08-16', '2017-08-17', '2017-08-18',
               '2017-08-21', '2017-08-22', '2017-08-23', '2017-08-24',
               '2017-08-25', '2017-08-28'],
              dtype='datetime64[ns]', freq='B')

In [177]:
df = pd.read_csv(r"C:\Users\pattargv\Downloads\facebook.csv", parse_dates=['Date'], index_col='Date')
df

             Price
Date
2017-08-15  171.00
2017-08-16  170.00
2017-08-17  166.91
2017-08-18  167.41
2017-08-21  167.78
2017-08-22  169.64
2017-08-23  168.71
2017-08-24  167.74
2017-08-25  166.32
2017-08-28  167.24

In [178]:
df.index

DatetimeIndex(['2017-08-15', '2017-08-16', '2017-08-17', '2017-08-18',
               '2017-08-21', '2017-08-22', '2017-08-23', '2017-08-24',
               '2017-08-25', '2017-08-28'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [180]:
df.index = pd.date_range(start='2017-08-15', periods=10, freq='B')
df.index

DatetimeIndex(['2017-08-15', '2017-08-16', '2017-08-17', '2017-08-18',
               '2017-08-21', '2017-08-22', '2017-08-23', '2017-08-24',
               '2017-08-25', '2017-08-28'],
              dtype='datetime64[ns]', freq='B')

In [181]:
df

             Price
2017-08-15  171.00
2017-08-16  170.00
2017-08-17  166.91
2017-08-18  167.41
2017-08-21  167.78
2017-08-22  169.64
2017-08-23  168.71
2017-08-24  167.74
2017-08-25  166.32
2017-08-28  167.24

In [182]:
df.tshift(1)

             Price
2017-08-16  171.00
2017-08-17  170.00
2017-08-18  166.91
2017-08-21  167.41
2017-08-22  167.78
2017-08-23  169.64
2017-08-24  168.71
2017-08-25  167.74
2017-08-28  166.32
2017-08-29  167.24

In [183]:
df.tshift(-1)

             Price
2017-08-14  171.00
2017-08-15  170.00
2017-08-16  166.91
2017-08-17  167.41
2017-08-18  167.78
2017-08-21  169.64
2017-08-22  168.71
2017-08-23  167.74
2017-08-24  166.32
2017-08-25  167.24